<% if !flash[:notice].blank?%>
  <div class="notice">
  <%=flash[:notice]%>
  </div>
  <% end %>
  
  <section class = "left-pane">
    <div class = user-info>
      <img src = "" alt = "user-info" >
      <p><%= current_user.name %></p>
      <p><%= current_user.followings.count%> Following </p>

    </div>
  
   </section>
  

<section class="users-section">
<h1>Who to follow</h1>
<img />
  <ul class="users-list">
    <% @all_users.each do |user| %>
      <li>
        Name: <%= user.name %></br>
        Id: <%= user.id%>
        
      </li>
    <% end %>
  </ul>
</section>


  
  
  
  
 
<p>logged in as a <%= current_user.name %> </p>
<%= link_to 'logout', access_logout_path%>