<% if !flash[:notice].blank?%>
  <div class="notice">
  <%=flash[:notice]%>
  </div>
  <% end %>
  
 <div class= "top-banner">
 <h1>Subtle Convos</h1>
 </div>
  
  <section class="left-pane">
    <div class = user-info>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, style:"width: 50px; display: block" %>
        <% end %>
      <p><%= current_user.full_name.upcase() %></p>
      
      <div class="relationship-count">
      <p><%= current_user.followers.count %> Followers </p>
      <p><%= current_user.following.count %> Following </p>
      
      </div>
    </div>
    <div class="nav-links">
    <ul>
  <li><%= link_to "Home", access_dashboard_path %></li>
  <li><%= link_to "Profile" %></li>
  <li><%= link_to "Logout", access_logout_path %></li>
    </ul>
    
    </div>
  
   </section>
   
   
   <section class="middle-pane">
    <div>
        <h3>Tell the house how you feel today :)</h3>
        <%= render 'form' %>
    </div>
    
  
    <div>
      <% @all_feelings.each do |feeling| %>
      <img/>
      <h4> <%= feeling.user.name %></h4>
      <p>  <%= feeling.user.id %></p>
      <p>  <%= feeling.body %></p>
      <%end%>
    
    </div>
    
   </section>
  

<section class="third pane">
<h1>Who to follow</h1>
<img />
  <ul class="users-list">
    <% @all_users.each do |user| %>
      <li>
        Name: <%= user.name %></br>
        Id: <%= user.id%>
        <% %>
      </li>
    <% end %>
  </ul>
</section>