  <% if !flash[:notice].blank?%>
    <div class="notice">
    <%=flash[:notice]%>
    </div>
  <% end %>
  
 <div class="top-banner">
    <h1>Subtle Convos</h1>
 </div>
  
  <section class="left-pane">
  
    <div class = "user-info d-flex ">
        <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: 'user-image ml-4 mt-2' %>
        <% else %>
           <%= image_tag("egg_avatar", class: 'user-image ml-4 mt-2' ) %>
        <% end %>
      <p class="current-user mt-3 ml-4"><%= current_user.full_name.upcase() %></p>
    </div>
    
      <div class="relationship-count d-flex">
        <p><%= current_user.followers.count %><br/>  Followers </p>
        <p><%= current_user.following.count %> <br/> Following </p>
    </div>
    
    <nav>
      <div class="nav-link active ">
        <%= image_tag("home.svg",class: 'ml-3  nav-icons' ) %> 
         <%= link_to "Home", access_dashboard_path %>
      </div>
      
      <div class="nav-link"><%= image_tag("user-profile.svg", class: ' ml-3 nav-icons') %> <%= link_to "Profile", user_path(current_user) %></div>
      <div class="nav-link"> <%= image_tag("logout.svg", class: ' ml-3 nav-icons') %><%= link_to "Logout", access_logout_path %></div>   
    </nav>
  </section>
   
   <section class="page-content">
        <div class="middle-pane">
          <h3 class= "content-title ">All conversations</h3>
          <div class="form-wrapper">
              <h3 class="text-uppercase">Post a feeling</h3>
              <%= render 'form' %>
        </div>
        
      
        <div class="form-wrapper">
            <h4 class= "text-primary text-uppercase my-4">Newly Posted Feelings</h4>
            <div class="user-posts mb-2" >
              <% @all_feelings.each do |feeling| %>
                  <div class="d-flex my-3">
                  <%= image_tag feeling.user.avatar, class: 'user-image' %>
                    <div class="ml-3">
                        <h3><%=link_to feeling.user.full_name,  user_path(feeling.user.id), class: 'user-name' %></h3>
                        <p class="ml-3"><%= feeling.body %></p>
                    </div>  
                  </div>
              <div class='feeling-comments-section'>
                <% feeling.comments.includes(:user).each do |comment| %>
                    <div class="post-comments">
                      <p class="user-handle ">@<%= comment.user.name %> </p>
                      <p><%= comment.body %></p>
                    </div>
                <% end %>

            <%= form_for(:comment, url: comments_path(feeling_id: feeling.id, user_id: current_user.id)) do |form| %>
                  <%= form.text_field :body, placeholder: 'Add new Comment', class:'comment-text' %>
                  <%= form.submit 'Comment', class: 'comment-btn' %>
            <% end %>
              </div>     
        <%end%>
              
</div>
            </div>
        </div>
      </div>
      

  <div class="third-pane ">
    <h3 class= "content-title">Who to follow</h3>

    <div class="users-list px-4 my-2">
        <% @all_users.each do |user| %>
        <div class="d-flex my-3">
            <% if who_not_to_follow.exclude?(user.id) %>
                <%if user.avatar.nil? %>
                <%= image_tag("home.svg", class: 'user-image' ) %> 
            <% else %>
                <%= image_tag user.avatar, class: 'user-image' %>
            <% end %>
            <div class="ml-3 ">
                <h3>
                  <%= link_to user.full_name, user_path(user.id), class: 'user-name' %>
                </h3>
              <% if user.following.ids.empty? %>
                <p class= "ml-3">No Followers</p>
              <% else %>
              <p class="ml-3"> Followed by <%=link_to first_user_name(user),  user_path(first_user_id(user)),  class: 'user-name inline' %> </p>
              <% end %>
            </div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>

</section>

